@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
	ViewData["Title"] = "ListResponses";
}

<h1>Lista gości na przyjęciu</h1>

<table>
	<thead>
		<tr>
			<th>Imię i Nazwisko</th>
			<th>Adres e-mail</th>
			<th>Numer telefonu</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PartyInvites.Models.GuestResponse r in Model)
		{
			<tr>
				<td>@r.Name</td>
				<td>@r.Email</td>
				<td>@r.Phone</td>
			</tr>
		}
	</tbody>
</table>