@{
	ViewData["Title"] = "Przyjęcie sylwestrowe";

}

<h1>@ViewBag.Greeting, z widoku</h1>
<h1>@ViewBag.Test</h1>
<p>Zapraszamy na wspaniałe przyjęcie.</p>
@*<p>Jest godzina: @ViewBag.Hour</p>*@

<a class="btn btn-primary" asp-action="RsvpForm">Wyślij RSVP </a>