@{
	ViewData["Title"] = "Przyjęcie sylwestrowe";

}
<div class="text-center">
	<h1>@ViewBag.Greeting</h1>
	<p>Zapraszamy na wspaniałe przyjęcie.</p>
	<p>Ty też zostałeś zaproszony</p>
	@*<p>Jest godzina: @ViewBag.Hour</p>*@

	<a class="btn btn-primary" asp-action="RsvpForm">Wyślij RSVP </a>
</div>